@import '../../mixins';

.wrapper {
  width: 100%;
  padding: 40px 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--card-color);

  .header {
    @include flex_between;
    width: 100%;
    margin-bottom: 28px;

    .left {
      width: 80px;
      svg {
        @include text_2xl;
        cursor: pointer;
      }
    }
    .center {
      @include text_xl;
      font-weight: 700;
    }
    .right {
      width: 80px;
    }
  }

  form {
    @include flex_center;
    flex-direction: column;
    color: var(--gray-100);
    .inputBox {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        margin-bottom: 10px;
        @include text_sm;
        font-weight: 700;
      }
      input {
        padding: 14px 20px;
        margin-bottom: 12px;
        border: var(--border);
        border-radius: var(--border-radius);

        @include text_sm;
      }
      .focusInput:focus {
        border-color: var(--focus-rgb);
      }
      .inValid {
        border-color: var(--error-rgb);
      }

      .helpText {
        margin-bottom: 12px;
        @include text_sm;
        color: var(--gray-100);
      }
    }

    button {
      width: 100%;
      padding: 16px 0;
      border-radius: 28px;
      @include text_md;
      font-weight: 700;
      background-color: var(--gray-200);
      color: black;
      opacity: 30%;
    }
    .validButton {
      background-color: var(--primary-rgb);
      color: white;
      opacity: 100%;
    }
  }
}

.errorMessage {
  margin-bottom: 12px;
  color: var(--error-rgb);
  @include text_sm;
}
.successMessage {
  margin-bottom: 12px;
  color: var(--focus-rgb);
  @include text_sm;
}
