@import '../../mixins';

.wrapper {
  width: 100%;
  padding: 40px 0;
}

.title {
  @include flex_center;
  width: 100%;
  margin: 20px 0 28px 0;
  span {
    @include text_2xl;
    font-weight: 700;
  }
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--card-color);

  .header {
    @include flex_between;
    width: 100%;
    margin-bottom: 28px;

    .left {
      width: 80px;
      svg {
        @include text_2xl;
        cursor: pointer;
      }
    }
    .center {
      @include text_xl;
      font-weight: 700;
    }
    .right {
      width: 80px;
    }
  }

  form {
    @include flex_center;
    flex-direction: column;
    color: var(--gray-100);
  }
}
