.wrapper {
  width: 100%;
  padding: 30px 30px 0px 30px;
  display: flex;
}

.container {
  width: 100%;
  border-bottom: var(--border);
  padding-bottom: 30px;

  .autor_box {
    display: inline-block;
    margin-bottom: 10px;

    &_inner {
      display: flex;
      align-items: center;

      .user_avatar {
        width: 28px;
        height: 28px;
        background-color: rgb(216, 216, 216);
        border-radius: 100%;
        flex-shrink: 0;

        margin-right: 15px;
      }

      .user_info {
        display: flex;

        font-size: 14px;
        .username {
          font-weight: 700;
        }
      }

      .date {
        font-size: 12px;
        color: var(--gray-100);
      }
    }
  }

  .body {
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 6px;
    }

    p {
      font-size: 15px;
      color: var(--gray-100);
      margin-bottom: 10px;
    }

    .bottom {
      display: flex;
      color: var(--gray-100);
      font-weight: 700;
      .icon {
        display: flex;
        margin-right: 24px;
        svg {
          font-size: 18px;
        }
        span {
          margin-left: 4px;
          font-size: 14px;
          padding-top: 3px;
        }
      }
    }
  }
}
