.wrapper {
  width: 100%;
  padding: 30px 30px 0px 30px;
  display: flex;
}

.container {
  width: 100%;
  border-bottom: var(--border);
  padding-bottom: 30px;
  .header {
    margin-bottom: 12px;
  }
  .body {
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 6px;
    }

    p {
      font-size: 15px;
      color: var(--gray-100);
      margin-bottom: 10px;
    }

    .bottom {
      display: flex;
      color: var(--gray-100);
      font-weight: 700;
      .icon {
        display: flex;
        margin-right: 24px;
        svg {
          font-size: 18px;
        }
        span {
          margin-left: 4px;
          font-size: 14px;
          padding-top: 3px;
        }
      }
    }
  }
}
