@import '../mixins';

.wrapper {
  display: inline-block;
}

.authorBox {
  @include flex_center;

  .avatarWrapper {
    flex-shrink: 0;
  }

  .verticleBox {
    margin-left: 12px;

    .userInfo {
      @include flex_center;
      justify-content: flex-start;

      .user_name {
        margin-right: 8px;
        font-weight: 700;
      }
      .user_career {
        color: var(--gray-200);
        font-weight: 700;

        span:first-child {
          color: var(--primary-rgb);
          margin-right: 8px;
        }
      }
    }
    .createAt {
      color: var(--gray-200);
    }
  }
}

// 사이즈

.sm {
  .avatarWrapper {
    width: 1.75rem;
    height: 1.75rem;
  }
  .userInfo {
    .user_name {
      @include text_sm;
    }
    .user_career {
      @include text_xs;
    }
  }

  .createAt {
    @include text_xs;
  }
}

.md {
  .avatarWrapper {
    width: 2.125rem;
    height: 2.125rem;
  }
  .user_name {
    @include text_md;
  }
  .user_career {
    @include text_xs;
  }
  .createAt {
    @include text_xs;
  }
}
