@import '../mixins';
@import '../variables';

.wrapper {
  position: fixed;
  top: 0;
  z-index: 400;

  width: 100%;

  box-shadow: 0 1px 0 0 rgb(0, 0, 0, 10%);
  background-color: var(--header-rgb);

  .container {
    max-width: var(--max-width);
    margin: 0 auto;

    .nav {
      @include flex_between;

      height: $headerHeight;
    }
  }
}

.logo {
  @include text_xl;

  color: var(--primary-rgb);

  b {
    font-weight: 600;
  }
}

.signup_button {
  padding: 0 10px;

  @include text_sm;
  font-weight: 600;

  cursor: pointer;
}

.paddingBox {
  max-width: var(--max-width);
  height: $headerHeight;
  margin: 0 auto;
}

@include tablet {
  .container {
    width: 90%;
  }
}

@include mobile {
  .nav {
    padding: 15px 20px;
  }
}
