@import '../../mixins';
@import '../../variables';

.wrapper {
  width: $breakpoint-tablet;
  margin: 0 auto;
  padding-top: 60px;
}

.profileContainer {
  padding: 30px;
  background-color: var(--card-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.description {
  @include text-sm;
  margin-top: 20px;
}

.tagSection {
  margin-top: 20px;
  padding-top: 20px;
  border-top: var(--border);

  p {
    @include text-sm;
    margin-bottom: 12px;
    font-weight: 700;
  }
  .tagList {
    display: flex;
  }
}

.RecentActivity {
  margin-top: 12px;
  background-color: var(--card-color);
  border: var(--border);
  border-radius: var(border-radius);

  .header {
    padding: 30px 30px 0px 30px;
    border-bottom: var(--border);

    .tabs {
      display: flex;
      li {
        @include text-sm;
        margin-right: 12px;
        padding-bottom: 8px;
        cursor: pointer;
        color: var(--gray-200);
        // border-bottom: solid 2px var(--primary-rgb);
      }
      li:hover {
        border-bottom: solid 2px var(--gray-200);
      }
      .selected {
        color: var(--primary-rgb);
        border-bottom: solid 2px var(--primary-rgb);
        font-weight: 700;
      }
    }
  }
}
