@import '../../mixins';
@import '../../variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: $myProfileModifyModalWidth;
  max-height: $myProfileModifyModalHeight;
  form {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
