@import '../../../mixins';

.bottom {
  width: 100%;
  bottom: 0;

  .submitButton {
    width: 100%;
    padding: 8px 0;
    border-radius: 28px;
    @include text_md;
    font-weight: 700;
    color: black;
    opacity: 30%;
  }
  .validButton {
    background-color: var(--primary-rgb);
    color: white;
    opacity: 100%;
  }
}
