@import '../../../mixins';

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.guide {
  color: var(--gray-100);
}
.error {
  color: var(--error-rgb);
}
.success {
  color: var(--focus-rgb);
}

.sm {
  @include text_xs;
}
.md {
  @include text_sm;
}
.lg {
  @include text_md;
}
