@import '../../../mixins';

.commentsContainer {
  width: 100%;
  padding: 54px 40px;
  .emptyMessage {
    @include flex_center;
    flex-direction: column;
    padding: 40px 0;

    svg {
      margin-bottom: 12px;
      color: var(--primary-rgb);
      @include text_6xl;
    }
    p {
      @include text_sm;
      color: var(--gray-100);
    }
  }

  .commentWrite {
    &_top {
      margin-bottom: 20px;
    }

    &_bottom {
      position: relative;
      form {
        border: var(--border);
        border-radius: var(--border-radius);
        textarea {
          width: 100%;
          height: 90px;

          padding: 16px 20px;
          border: none;

          @include text_sm;
          resize: none;
        }

        .button_wrapper {
          text-align: right;
          padding: 20px 14px;

          button {
            @include button_sm;
          }
        }
      }
    }
  }
}
