@import '../../../mixins';

.container {
  padding-bottom: 32px;
}

.header {
  .title {
    margin: 32px 0;

    @include text_3xl;
    font-weight: 700;
  }
}
.body {
  @include text_md;
  margin-bottom: 20px;
}
