@import '../../../mixins';

.header {
  .title {
    margin: 32px 0;

    @include text_3xl;
    font-weight: 700;
  }
}
.body {
  @include text_md;
  margin-bottom: 60px;
}
.tags {
  display: flex;
  margin-bottom: 32px;
  .tag {
    @include flex_center;
    padding: 4px 20px;
    margin-right: 6px;
    border: var(--border);
    border-radius: 12px;

    font-size: 14px;
    color: var(--gray-100);
  }
}
