@import '../../../mixins';

.wrapper {
  display: inline-block;
}

.authorBox {
  @include flex_center;

  .avatarWrapper {
    flex-shrink: 0;
    width: 2.215rem;
    height: 2.215rem;
  }

  .verticleBox {
    margin-left: 12px;

    .user_name {
      @include text_md;
      margin-right: 8px;
      font-weight: 700;
    }
    .user_career {
      @include text_xs;
      color: var(--gray-200);
      font-weight: 700;

      span:first-child {
        color: var(--primary-rgb);
        margin-right: 8px;
      }
    }
  }
}
