@import '../../../mixins';

.badge {
  display: flex;
  font-size: 0.8em;
  line-height: 1rem;
  font-weight: 700;

  .job {
    color: var(--primary-rgb);
  }

  .annual {
    color: var(--gray-200);
  }
}
