@import '../mixins';

.wrapper {
  width: 100%;
  padding: 40px 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);

  background-color: var(--card-color);

  .title {
    @include flex_center;
    width: 100%;
    margin: 20px 0 28px 0;
    span {
      @include text_2xl;
      font-weight: 700;
    }
  }

  form {
    @include flex_center;
    flex-direction: column;

    .inputBox {
      display: flex;
      flex-direction: column;

      width: 100%;
      label {
        margin-bottom: 10px;
        @include text_sm;
        font-weight: 700;
        color: var(--gray-100);
      }
      input {
        margin-bottom: 20px;
        padding: 14px 20px;
        border: var(--border);
        border-radius: var(--border-radius);

        @include text_md;
      }
    }

    button {
      width: 100%;
      padding: 16px 0;
      background-color: var(--primary-rgb);
      border-radius: 28px;

      @include text_md;
      color: white;
      font-weight: 700;
    }
  }
}
