@tailwind base;

@layer base {
  textarea {
    @apply outline-0;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply w-full bg-white border border-gray-200 border-solid rounded-md;
  }

  .badge {
    @apply px-3 py-1 text-xs text-gray-500 border border-gray-200 border-solid rounded-xl;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
