@import '../../mixins';

.main {
  display: flex;
  max-width: var(--max-width);
  margin: 80px auto;

  .aside {
    flex-shrink: 0;
    width: 258px;

    &_container {
      position: fixed;
      width: 258px;
      padding-right: 40px;

      &_top {
        padding-bottom: 30px;
        border-bottom: var(--border);
      }
    }

    .postCount {
      display: flex;
      margin-top: 12px;
      font-weight: 700;
    }
  }

  .postDetail {
    position: relative;
    width: 100%;
    height: auto;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--card-color);

    .contentsBox {
      padding: 54px 40px;
      border-bottom: var(--border);
    }

    .tagList {
      display: flex;
      margin-bottom: 20px;
      gap: 12px;
    }
  }
}

.bottom {
  display: flex;
  font-weight: 700;
}

.likeButton {
  @include flex_center;
  margin-right: 40px;
  cursor: pointer;
  svg {
    @include text_xl;
  }
  span {
    @include text_xl;
    margin-left: 4px;
    padding-top: 1px;
  }
}
.commentButton {
  @include flex_center;
  margin-right: 40px;
  cursor: pointer;
  svg {
    @include text_xl;
  }
  span {
    @include text_xl;
    margin-left: 4px;
    padding-top: 1px;
  }
}
.isLiked {
  color: var(--primary-rgb);
}
.isCommented {
  color: var(--primary-rgb);
}
