@import '../../mixins';

.main {
  display: flex;
  max-width: var(--max-width);
  margin: 80px auto;

  .aside {
    flex-shrink: 0;
    width: 258px;

    &_container {
      position: fixed;
      width: 258px;
      padding-right: 40px;

      &_top {
        padding-bottom: 30px;
        border-bottom: var(--border);
      }
    }
  }

  .postDetail {
    position: relative;
    width: 100%;
    height: auto;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--card-color);

    .contentsBox {
      padding: 54px 40px;
      border-bottom: var(--border);
    }

    .tagList {
      display: flex;
      margin-bottom: 20px;
      gap: 12px;
      color: var(--gray-100);
      .tagItem {
        @include text_sm;
        padding: 4px 12px;
        border: var(--border);
        border-radius: 20px;
      }
    }
  }
}

.bottom {
  display: flex;
  font-weight: 700;
  .icon {
    @include flex_center;
    margin-right: 40px;
    svg {
      @include text_xl;
    }
    span {
      margin-left: 4px;
      padding-top: 1px;

      @include text_xl;
    }
  }
}
