@import '../../mixins';

.loginButton {
  @include flex_center;

  .avatarWrapper {
    flex-shrink: 0;
  }
  span {
    width: 100%;
    margin-left: 12px;
    @include text_md;
  }
  svg {
    flex-shrink: 0;
    font-size: 20px;
  }
}

.myCommunityButton {
  @include flex_between;

  .authorBox {
    @include flex_center;
    .avatarWrapper {
      flex-shrink: 0;
    }
    .verticleBox {
      margin-left: 12px;

      .user_name {
        margin-right: 8px;
        font-weight: 700;
      }
    }
  }

  svg {
    flex-shrink: 0;
    font-size: 20px;
  }
}

.sm {
  .avatarWrapper {
    width: 1.75rem;
    height: 1.75rem;
  }
  .user_name {
    @include text_sm;
  }

  .createAt {
    @include text_xs;
  }
}

.md {
  .avatarWrapper {
    width: 2.125rem;
    height: 2.125rem;
  }
  .user_name {
    @include text_md;
  }
  .createAt {
    @include text_sm;
  }
}
