@import '../../../mixins';

.container {
  width: 100%;
  padding: 20px 30px 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;

  .icon {
    @include text_md;
    cursor: pointer;
  }
}

.content {
  margin-bottom: 24px;
  padding: 8px 24px 12px 40px;
  border-bottom: var(--border);
  @include text_md;
}
