@import '../../../mixins';

.wrapper {
  padding: 20px 30px 0px 30px;
}
.container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: var(--border);
}

.verticleBox {
  width: 100%;
}

.header {
  margin-bottom: 12px;
}
.body {
  h3 {
    @include text_xl;
    display: -webkit-box;
    margin-bottom: 6px;
    font-weight: 700;
    -webkit-line-clamp: 1;
  }

  p {
    @include text_md;
    margin-bottom: 10px;
    color: var(--gray-100);

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .tagList {
    display: flex;
    margin-bottom: 12px;
    gap: 4px;
  }

  .bottom {
    display: flex;

    font-weight: 700;
    color: var(--gray-100);
    .icon {
      display: flex;
      margin-right: 24px;

      svg {
        @include text_lg;
      }

      span {
        margin-left: 4px;
        padding-top: 3px;

        @include text_sm;
      }
    }
    .isLiked {
      color: var(--primary-rgb);
    }
    .isCommented {
      color: var(--primary-rgb);
    }
  }
}

.imageContainer {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-left: 20px;
  z-index: 0;
  img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
  }
}

.loadingWrapper {
  padding: 20px 30px 0px 30px;
}
.loadingContainer {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: var(--border);

  .left {
    flex-shrink: 0;
    div {
      width: 26px;
      height: 26px;
      background-color: var(--loading-color);
      border-radius: 20px;
    }
  }

  .right {
    width: 100%;
    padding-left: 12px;

    div {
      height: 20px;
      background-color: var(--loading-color);
      border-radius: 4px;

      &:nth-child(1) {
        width: 12%;
        margin-bottom: 12px;
      }
      &:nth-child(2) {
        width: 30%;
        margin-bottom: 4px;
      }
      &:nth-child(3) {
        width: 60%;
        margin-bottom: 4px;
      }
      &:nth-child(4) {
        width: 60%;
        margin-bottom: 16px;
      }
      &:nth-child(5) {
        display: flex;
        background-color: inherit;
        p {
          width: 40px;
          height: 20px;
          background-color: var(--loading-color);
          border-radius: 4px;
          margin-right: 12px;
        }
      }
    }
  }
}
