@import './variables';

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// button
@mixin button_sm {
  padding: 8px 24px;
  border: var(--border);
  border-radius: 20px;

  background-color: var(--primary-rgb);
  @include text_sm;
  color: white;
  font-weight: 700;
}

@mixin button_md {
  padding: 8px 28px;
  border: var(--border);
  border-radius: 24px;

  background-color: var(--primary-rgb);
  @include text_md;
  color: white;
  font-weight: 700;
}

// font size

@mixin text_xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;
}
@mixin text_sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
}
@mixin text_md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}
@mixin text_lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem;
}
@mixin text_xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}
@mixin text_2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem;
}
@mixin text_3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}
@mixin text_4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem;
}
@mixin text_5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
@mixin text_6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
@mixin text_7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
@mixin text_8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
@mixin text_9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}
