@import 'scss-reset/_reset.scss';

:root {
  --max-width: 1060px; /* 사이트의 최대크기 */

  /* 카드 테두리 */
  --border-radius: 5px;
  --border: 1px solid rgb(0, 0, 0, 10%);
  --semi-border: 1px solid rgb(236, 236, 236);

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* 백그라운드 대비색 (기본 글씨색) */
  --foreground-rgb: rgb(51, 51, 51);
  /* 백그라운드 색 */
  --background-start-rgb: rgb(248, 248, 248);
  --background-end-rgb: rgb(248, 248, 248);

  --card-color: rgb(255, 255, 255);

  --hover-rgb: rgb(240, 240, 240);

  /* 헤더 색 */
  --header-rgb: rgb(255, 255, 255);

  /* 브랜드 색 */
  --primary-rgb: rgb(30, 58, 138);

  --gray-100: rgb(104, 104, 104);
  --gray-200: rgb(136, 136, 136);
}

:root[data-theme='dark'] {
  --foreground-rgb: rgb(255, 255, 255);
  --background-start-rgb: rgb(0, 0, 0);
  --background-end-rgb: rgb(0, 0, 0);

  --header-rgb: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

/*         ***** 가이드 *****        */

/* hover가 가능하고 마우스포인터가 존재 할 경우 */
@media (hover: hover) and (pointer: fine) {
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
}

// 권장순서 (naver)

// 1. display(표시)
// 2. overflow(넘침)
// 3. float(흐름)
// 4. position(위치)
// 5. width/height(크기)
// 6. padding/margin(간격)
// 7. border(테두리)
// 8. background(배경)
// 9. color/font(글꼴)
// 10. animation
// 11. 기타
