@import '../mixins';
@import '../variables';

.wrapper {
  width: 100%;
  padding: 60px 0 0 0;
}

.writeHeaderWrapper {
  position: fixed;
  top: $headerHeight;
  width: 100%;
  height: 60px;
  padding: 10px;

  border-bottom: var(--border);
  background-color: var(--card-color);

  z-index: 20;

  .writeHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: $breakpoint-desktop;
    margin: auto;

    button {
      @include button_md;
      @include text_md;
      background-color: var(--gray-200);
      color: black;
      opacity: 30%;
    }
    .validButton {
      background-color: var(--primary-rgb);
      color: white;
      opacity: 100%;
    }
  }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  border: var(--border);
  border-top: none;
  border-radius: var(--border-radius);

  background-color: var(--card-color);
}

.tagSection {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;

  .tagMessage {
    margin-bottom: 12px;
    @include text_md;
    font-weight: 700;
    span:nth-child(1) {
      color: var(--gray-100);
      margin-right: 4px;
    }
    span:nth-child(2) {
      color: var(--gray-200);
      margin-right: 4px;
    }
    span:nth-child(3) {
      color: rgb(254, 67, 94);
    }
  }
  .tagSelectorContainer {
    display: flex;
    .tagAddButton {
      @include flex_center;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border: var(--border);
      border-radius: 16px;
    }
    .tagPlaceholder {
      width: 84px;
      height: 32px;
      border: dotted 3px var(--gray-200);
      border-radius: 20px;
      opacity: 40%;
    }
    .selectedTagList {
      display: flex;
      .selectedTag {
        @include flex_center;
        height: 32px;
        padding: 0 10px;
        margin-right: 8px;
        border: solid 1px var(--primary-rgb);
        border-radius: 20px;
        color: var(--primary-rgb);

        span {
          @include text_sm;
          font-weight: 700;
          margin-right: 2px;
        }
        svg {
          width: 1.125rem;
          height: 1.125rem;
        }
      }
    }
  }
}

.title {
  padding-bottom: 16px;
  border-bottom: var(--border);
  border-bottom-width: 2px;

  input {
    width: 100%;
    border: none;

    @include text_2xl;
    font-weight: 700;

    &::placeholder {
      opacity: 50%;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 32px;

  textarea {
    width: 100%;
    height: 1.75rem * 2;
    border: none;

    @include text_lg;

    overflow-y: hidden;
    resize: none;
  }
  .hiddenTextarea {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}

.imageContainer {
  position: relative;
  button {
    @include flex_center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: rgb(109, 109, 109);
    color: white;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.addImageButtonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  width: 100%;
  height: 100%;

  padding: 40px;
  margin: auto;

  pointer-events: none;

  .tooltip {
    position: relative;
    padding: 4px 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: var(--primary-rgb);

    @include text_xs;
    color: white;
    font-weight: 700;

    .bubblePoint {
      position: absolute;
      bottom: -4px;
      right: 16px;
      &::after {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: var(--primary-rgb);

        @include text_sm;

        transform: rotate(45deg);
      }
    }
  }

  button {
    @include flex_center;
    flex-direction: column;

    width: 50px;
    height: 50px;

    border: var(--border);
    border-radius: 25px;
    background-color: white;

    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    svg {
      width: 24px;
      height: 24px;
    }
    span {
      @include text_xs;
      em {
        color: var(--primary-rgb);
      }
    }
  }
}
