.wrapper {
  width: 100%;
  max-width: var(--max-width);
  padding-bottom: 100px;
}

.write_button_section {
  padding: 30px;
  border: var(--border);
  border-top: none;

  background-color: var(--card-color);
}

.article_list_section {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  background-color: var(--card-color);
}
