.wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: 200vh;
}

.write_button_section {
  padding: 30px;
  border: var(--border);
  border-top: none;

  background-color: var(--card-color);
}

.article_list_section {
  background-color: var(--card-color);
  height: 200vh;
}
