@import '../../../../mixins';

.loginButton {
  @include flex_center;

  span {
    width: 100%;
    margin-left: 12px;
    @include text_md;
  }
  svg {
    flex-shrink: 0;
    font-size: 20px;
  }
}

.myCommunityButton {
  @include flex_between;

  .authorBox {
    @include flex_center;

    .verticleBox {
      margin-left: 12px;

      .user_name {
        margin-right: 8px;
        font-weight: 700;
      }
    }
  }

  svg {
    flex-shrink: 0;
    font-size: 20px;
  }
}

.sm {
  .user_name {
    @include text_sm;
  }

  .createAt {
    @include text_xs;
  }
}

.md {
  .user_name {
    @include text_md;
  }
  .createAt {
    @include text_sm;
  }
}

.loadingContainer {
  display: flex;
  width: 100%;

  .left {
    flex-shrink: 0;
    div {
      width: 26px;
      height: 26px;
      background-color: var(--loading-color);
      border-radius: 20px;
    }
  }

  .right {
    width: 100%;
    padding-left: 12px;

    div {
      height: 20px;
      background-color: var(--loading-color);
      border-radius: 4px;

      &:nth-child(1) {
        width: 80%;
        margin-bottom: 8px;
      }

      &:nth-child(2) {
        display: flex;
        background-color: inherit;
        p {
          width: 40px;
          height: 20px;
          background-color: var(--loading-color);
          border-radius: 4px;
          margin-right: 8px;
        }
      }
    }
  }
}
