@import '../../../mixins';

.container {
  @include flex_center;
  padding: 30px;
  border: var(--border);
  border-top: none;
  background-color: var(--card-color);
}

.avatarWrapper {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin-right: 16px;
}

.writeButton {
  @include flex_between;

  width: 100%;
  padding: 18px 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}
