@import '../../../../mixins';

.wrapper {
  display: inline-block;
}

.profileBox {
  @include flex_center;

  .verticleBox {
    margin-left: 12px;

    .user_name {
      margin-right: 8px;
      font-weight: 700;
    }
  }
}

// 사이즈

.sm {
  .verticleBox {
    @include text_sm;
  }
}

.md {
  .verticleBox {
    @include text_md;
  }
}

.lg {
  .verticleBox {
    @include text_xl;
    margin-left: 20px;
    .user_name {
      margin-bottom: 8px;
    }
  }
}
