@import '../../mixins';
@import '../../variables';

.container {
  display: flex;
  flex-direction: column;
  min-width: $tagModalWidth;
  max-height: $tagModalheight;
}

.header {
  @include flex_center;
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  .title {
    @include text_md;
    font-weight: 700;
  }

  .closeButton {
    @include text_2xl;
    position: absolute;
    right: 0px;
  }
}

.body {
  padding: 8px 0;
  overflow-y: auto;
}

.canvasContainer {
  @include flex-center;
  position: relative;
  background-color: black;
}

.bottom {
  padding-top: 20px;
  .submitButton {
    @include button_md;
    width: 100%;
  }
}
